<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about" class="mx-1,5">
        <h2 class="text font-extrabold text-2xl">I'm a web developer, based in Tokyo. </h2>
        <p class="mt-3.5">Passionate about fashion and technology, I've combined my expertise in digital marketing and web development. With over 5 years of experience helping fashion brands thrive, I recently enhanced my skills at Le Wagon.</p>
        <p class="mt-3">Now, as a digital marketing specialist and web developer, I embrace the dynamic tech landscape, always seeking new avenues for growth. Let's connect and collaborate!</p>
      </div>
    </div>
  </div>
</div>
