<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>Life continues</h2>
        <p>Passionate about fashion and technology, I've combined my expertise in digital marketing and web development. With over 5 years of experience helping fashion brands thrive, I recently enhanced my skills at Le Wagon.</p>
        <p>Now, as a digital marketing specialist and web developer, I embrace the dynamic tech landscape, always seeking new avenues for growth. Let's connect and explore the limitless possibilities of fashion and technology together!</p>
      </div>
    </div>
  </div>
</div>
