<div class="row justify-content-center">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <div class="two-columns-container">
      <h2 class="font-extrabold text text-4xl margin-t text-center">Hi. I'm Masafumi.<br>
        A <span id="typed"></span></h2>
      <div>
        <%= image_tag 'profile.webp', size: "260x345", alt: "profile photo", class: 'avatar margin-t-img' %>
      </div>
    </div>
  </div>
</div>
