<div class="row justify-content-center">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h2 class="font-extrabold text text-4xl margin-t">Hi. I'm Masafumi.<br>
      A Web Developer.</h2>
    <%= image_tag 'profile.jpg', size: "260x345", alt: "profile photo", class: 'avatar margin-t-img' %>
  </div>
</div>
<div class="mx-3.5">
  <a href="https://open.spotify.com/track/4mWMbsZiMyKD7tYkM9eD37?si=5ef25b094fdc4fe4" target="_blank">
    <div class="music-section w-100 d-flex">
      <i class="fa-brands fa-spotify"></i>
      <div class="music-text">
        <p id="repeat-text">On repeat</p>
        <p id="track-text">I Shall Not Be Moved - DJ Mem...</p>
      </div>
    </div>
  </a>
</div>
