<div id="about" class="mx-1,5">
  <div class="container">
    <h2 class="text font-extrabold text-4xl mb-4">Tech Stack</h2>
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <i class="devicon-ruby-plain"></i> Ruby on Rails
      </li>
      <li class="list-inline-item">
        <i class="devicon-html5-plain"></i> HTML
      </li>
      <li class="list-inline-item">
        <i class="devicon-css3-plain"></i> CSS/SCSS
      </li>
      <li class="list-inline-item">
        <i class="devicon-bootstrap-plain"></i> Bootstrap
      </li>
      <li class="list-inline-item">
        <i class="devicon-tailwindcss-plain"></i> Tailwind CSS
      </li>
      <li class="list-inline-item">
        <i class="devicon-javascript-plain"></i> JavaScript
      </li>
      <li class="list-inline-item">
        <i class="devicon-nodejs-plain"></i> Node.js
      </li>
      <li class="list-inline-item">
        <i class="devicon-express-original"></i> Express
      </li>
      <li class="list-inline-item">
        <i class="devicon-react-original"></i> React
      </li>
      <li class="list-inline-item">
        <i class="devicon-svelte-original"></i> Svelte
      </li>
      <li class="list-inline-item">
        <i class="devicon-sqlite-plain"></i> SQLite
      </li>
      <li class="list-inline-item">
        <i class="devicon-postgresql-plain"></i> PostgreSQL
      </li>
    </ul>
  </div>
</div>
