<div id="about" class="mx-1,5">
  <div class="container">
    <h2 class="text font-extrabold text-4xl mb-4">Tech Stack</h2>
    <ul class="list-inline">
      <li class="list-inline-item">
        <i class="devicon-rails-plain-wordmark colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-ruby-plain colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-html5-plain-wordmark colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-css3-plain colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-bootstrap-plain colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-tailwindcss-plain colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-javascript-plain colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-nodejs-plain-wordmark colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-express-original colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-react-original colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-postgresql-plain colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-mysql-plain-wordmark colored"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-sqlite-plain colored"></i>
      </li>
    </ul>
  </div>
</div>
