<div id="about" class="mx-1,5">
  <div class="container">
    <h2 class="text font-extrabold text-4xl mb-4">Tech Stack</h2>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="https://guides.rubyonrails.org/" target="_blank">
          <i class="devicon-rails-plain-wordmark colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.ruby-lang.org/en/documentation/" target="_blank">
          <i class="devicon-ruby-plain colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
          <i class="devicon-html5-plain-wordmark colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
          <i class="devicon-css3-plain colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank">
          <i class="devicon-bootstrap-plain colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://tailwindcss.com/docs" target="_blank">
          <i class="devicon-tailwindcss-plain colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
          <i class="devicon-javascript-plain colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://nodejs.org/en/docs/" target="_blank">
          <i class="devicon-nodejs-plain-wordmark colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://expressjs.com/en/4x/api.html" target="_blank">
          <i class="devicon-express-original colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://reactjs.org/docs/getting-started.html" target="_blank">
          <i class="devicon-react-original colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.postgresql.org/docs/" target="_blank">
          <i class="devicon-postgresql-plain colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://dev.mysql.com/doc/" target="_blank">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.sqlite.org/docs.html" target="_blank">
          <i class="devicon-sqlite-plain colored"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
