.music-section {
  border-top: solid 0.05px #ffffff ;
  background-color: #015A4D;
  height: 70px;
}

.fa-spotify {
  color: rgba(255, 255, 255, 0.6);
  font-size: 38px;
  margin-left: 32px;
  margin-top: 16px;
}

.music-text {
  margin-left: 30px;
  margin-top: 14px;
  font-size: 14px;
}

#repeat-text {
  color: rgba(255, 255, 255, 0.6);
}

#track-text {
  color: #ffffff;
}
