nav {
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  margin-left: 12px;
  margin-right: 12px;
  position: sticky;
  top: 30px;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

nav ul li {
  flex: 1; /* Distribute equal width among the list items */
  margin-right: 0px;
  display: flex;
  justify-content: center;
}

nav ul li:last-child {
  margin-right: 0; /* Remove the right margin from the last item */
}

nav ul li a {
  color: #435754; /* Set text color to dark gray */
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  color: #015A4D;
}
