.text {
  color: #015A4D;
}

.text-lg {
  color: #015A4D;
  font-weight: 900;
  font-size: 2.125rem;
  line-height: 3rem;
}

.margin-t {
  margin-top: 64px;
}

.margin-t-img {
  margin-top: 45px;
}

p {
  color: #435754;
}

.two-columns-container > h2 {
  line-height: 48px;
}
